<?xml version="1.0"?>

<configuration>
 
  <appSettings>
    <add key="33" value="10.8.8.11"/>
    <add key="1" value="10.3.72.160"/>
  </appSettings>
 

<!--<SILurl>


  <add  key="33" value="10.8.8.11" />
  <add name="1" connectionString="server=10.3.72.160" />
  <add name="51" connectionString="server=10.5.72.10" />
  <add name="71" connectionString="server=10.9.72.10" />
  <add name="70" connectionString="server=10.10.8.12" />
  <add name="2" connectionString="server=10.2.8.12" />
</SILurl>-->
</configuration>
<!--40	H. ALUMINE
55	H. ANDACOLLO
36	H. BAJADA DEL AGRIO
53	H. BUTA RANQUIL
1	H. CENTENARIO
51	H. CHOS MALAL
188	H. CUTRAL-CO / PLAZA HINCUL
59	H. EL CHOLAR
39	H. EL HUECU
71	H. JUNIN DE LOS ANDES
75	H. LAS COLORADAS
35	H. LAS LAJAS
57	H. LAS OVEJAS
37	H. LONCOPUE
34	H. MARIANO MORENO
187	H. PICUN LEUFU
185	H. PIEDRA DEL AGUILA
2	H. PLOTTIER
4	H. RINCON DE LOS SAUCES
70	H. SAN MARTIN DE LOS ANDES
5	H. SAN PATRICIO DEL CHAÑAR
3	H. SENILLOSA
52	H. TRICAO MALAL
7	H. VILLA EL CHOCON
73	H. VILLA LA ANGOSTURA
33	H. ZAPALA
42	J.Z. SANITARIA II
76	J.Z. SANITARIA IV
189	J.Z. SANITARIA V
60	J.Z. ZONA SANITARIA III
8	J.Z.SANITARIA I-->
